.home {
  background-image: url('/assets/cooking.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  .home-message {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
    // color: black;
    box-shadow: 0 0px 5px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    padding: 50px 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p {
    color: white;
  }
}