
* {
  font-family: 'Raleway', sans-serif;
}

.news-feed, .profile-page, .recipe-page, .review-page, .pinned-page, .search-page {
  background-color: rgba(194, 77, 44, 0.1);
  background-size:100% 100%;
}

.navbar {
      width: 100%;
      position: fixed;
    span {
      color: white;
    }
    background: rgb(194, 77, 44);
  .in-brand {
      padding: 0 40px;
    &:hover {
        color: white;
        background: rgb(180, 60, 30);
        }
    }
  .out-brand {
    &:hover {
        color: white;
        background: rgb(180, 60, 30);
        }
    }
    .navbar-item {
      padding: 0 20px;
      color: rgb(255,255,255);
    &:hover {
      background: rgb(180, 60, 30);
      color: white;
      }
    }
}


.footer {
  width:100%;
  height: 60px;
  // background-color: hsl(171, 100%, 41%);
  // background-color: rgb(255, 127, 0);
  background-color: rgb(194, 77, 44);
  bottom: 0px;
  position: fixed;
  p {
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    color: rgb(255,255,255);
  }
  a {
    color: rgb(245,186,32);
  }
}

.home {
  background-image: url('/assets/cooking.gif');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  .home-message {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.8);
    // color: black;
    box-shadow: 0 0px 5px;
    max-width: 300px;
    min-width: 300px;
    height: 300px;
    padding: 50px 30px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  p {
    color: white;
  }
}

a {
  color: rgb(50, 115, 220);
  font-weight: bold;
}

// .section {
//     background-image: url("./assets/video/offeo.mp4");
//     opacity: 0.2
// }


.margin-top {
    margin: 200px
}

.margin-maker {
  margin: 0 45px 70px 45px;
}


.small-margin-maker {
  margin: 20px;
}

// .input {
//   width: 300px;
// }

// .input-max {
//   max-width: 500px;
// }
.extra-padding {
  padding: 20px;
}

.bottom-margin {
  margin: 0 0 60px 0;
}

.top-margin {
  margin: 30px 0 0 0;
}

.small-top-margin {
  margin: 10px 0 0 0;
}

.no-left-side-padding {
  padding: 12px 12px 12px 0;
}

.no-right-side-padding {
  padding: 12px 0 12px 12px;
}

.no-side-padding {
  padding: 12px 0;
}

.no-margin {
  padding: 0;
  margin: 0;
}

.small-margin-bottom {
  margin: 0 0 30px 0;
}

.margin-topbottom {
  margin: 50px 0 20px 0;
}

.margin-sides {
  margin: 0 20px 0 0;
}

.small-margin {
  margin: 5px 0 0 0;
}

.curve-border,.card,.button, button {
  border-radius: 5px;
  box-shadow: 0 0px 5px;
}

.is-warning {
  box-shadow: 0 0px 0px;
}

.custom-title {
  font-weight: bold;
  font-size: 25px;
}

.p_wrap {
  white-space: pre-line;
}

.like-info {
  display:inline-block;
  color: rgb(50, 115, 220);
  font-size: 13px;
  padding: 0 10px;
}

.pin-button {
  background-color: rgb(230, 77, 44);
  color: white;
  &:hover {
    color: white;
  }
  &:not(:hover) {
  color: white;
}
}

.small-font {
  font-size: 13px;
}

.tile {
  box-shadow: 0 8px 16px;
  border-radius: 30px;
  height: 300px;
  width: 500px;
  margin: 75px;
  margin-left: 0px
}
.craving {
  height: 30px;
  width: 200px;
  margin: 0px;
}
.columns.articles {
  height: 100%;
  display: flex;

  .news {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 769px) {

.pin-column, .edit-column {
  display: flex;
}
  .pin-button, .edit-button {
    text-align: center;
  }

  .no-left-side-padding {
    padding: 12px 0;
  }

  .no-right-side-padding {
    padding: 12px 0;
  }

  .no-side-padding {
    padding: 12px 0;
  }
}



//
@media only screen and (max-width: 1088px) {

  .navbar {
        width: 100%;
      background: rgb(194, 77, 44);
      .navbar-item {
        color: rgb(180, 60, 30);
        &:hover {
          background: rgb(240, 240, 240);
          color: rgb(180, 60, 30);
          }
    }
  }
}
