// .navbar {
//   background: hsl(171, 100%, 41%);
//   position: fixed;
//   width: 100%;
//   .navbar-item {
//     color: rgb(255,255,255);
//     padding: 0 30px;
//   }
//
//   }
// }

* {
  font-family: 'Raleway', sans-serif;
}

.news-feed, .profile-page, .recipe-page {
  background-color: rgba(194, 77, 44, 0.1);
}

.navbar {
  background: rgb(194, 77, 44);
  position: fixed;
  width: 100%;
  .navbar-brand {
  &:hover {
    background: rgb(180, 60, 30);
    color: white;
  }
}
  .navbar-item {
    &:hover {
      background: rgb(180, 60, 30);
      color: white;
    }
    color: rgb(255,255,255);
    padding: 0 30px;
  }
}

.footer {
  width:100%;
  height: 78px;
  // background-color: hsl(171, 100%, 41%);
  // background-color: rgb(255, 127, 0);
  background-color: rgb(194, 77, 44);
  bottom: 0px;
  position: fixed;
  p {
    font-family: sans-serif;
    font-weight: bold;
    padding: 20px;
    color: rgb(255,255,255);
  }
  a {
    color: rgb(245,186,32);
  }
}

a {
  color: rgb(50, 115, 220);
  font-weight: bold;
}

.margin-maker {
  margin: 45px;
}

.small-margin-maker {
  margin: 20px;
}

.extra-padding {
  padding: 20px;
}

.bottom-margin {
  margin: 0 0 60px 0;
}

.top-margin {
  margin: 30px 0 0 0;
}

.no-margin {
  padding: 0;
  margin: 0;
}

.margin-topbottom {
  margin: 20px 0;
}

.margin-sides {
  margin: 0 20px 0 0;
}

.small-margin {
  margin: 5px 0 0 0;
}

.curve-border,.card,.button {
  border-radius: 5px;
  box-shadow: 0 1px 6px;
}

.custom-title {
  font-weight: bold;
  font-size: 25px;
}

.p_wrap {
  white-space: pre-line;
}

.like-info {
  display:inline-block;
  color: rgb(50, 115, 220);
  font-size: 13px;
  padding: 0 10px;
}

.pin-button {
  background-color: rgb(237, 69, 70);
  color: white;
  &:hover {
    color: white;
  }
}

.tile {
  box-shadow: 0 8px 16px;
  border-radius: 30px;
}

.columns.articles {
  height: 100%;
  display: flex;

  .news {
    overflow-y: scroll;
  }
}

@media only screen and (max-width: 769px) {

.pin-column, .edit-column {
  display: flex;
}
  .pin-button, .edit-button {
    text-align: center;

  }
}
